<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Un homme sur Cinq{% endblock %}</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/favicon/favicon.ico') }}" type="image/x-icon">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <h3>Header</h3>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="py-8 py-md-11 bg-dark text-white">
            <div class="container">
                <div class="row">
                    <h3>Footer</h3>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </footer>
    </body>
</html>
