{% extends 'base.html.twig' %}

{% block title %}Nos ressources offertes — Un Homme sur Cinq{% endblock %}


{% block body %}

    <section class="mb-10 pt-10 pt-md-14 pb-12 pb-md-15 overlay overlay-primary overlay-80" style="background-image: url({{ absolute_url(asset('images/img-landkit/illustrations/illustration-3.png')) }});">

        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">

                    <!-- Heading -->
                    <h1 class="display-1 fw-bold text-white mb-6 mt-n3">
                        Ressources offertes
                    </h1>
                    <a class="btn btn-pill btn-white shadow lift m-2" href="#formation-7-jours">
                        <i class="fe fe-mail me-2"></i>
                        Formez-vous par email
                    </a>
                    <a class="btn btn-pill btn-white shadow lift m-2" href="#livres-resumes">
                        <i class="fe fe-book-open me-2"></i>
                        Résumé de livre
                    </a>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <!-- Shape -->
        <div class="position-absolute right-0 bottom-0 left-0">

            <!-- Shape -->
            <div class="position-relative shape shape-bottom shape-fluid-x text-white">
                <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
    </section>

    <section id="formation-7-jours" class="pt-9">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1>
                        Formation par email.
                    </h1>
                    <p class="lead text-gray-700 mb-7 mb-md-9">
                        Prolongez vos pénétration en maîtrisant votre excitation.
                    </p>
                    <span class="badge rounded-pill bg-primary-soft mb-3">
                        <span class="h6 text-uppercase">Formation offerte</span>
                    </span>
                </div><!-- .col -->
            </div><!-- .row -->
        </div> <!-- .container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <div class="card mb-3 shadow-light-lg">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title display-4">Maîtriser votre excitation</h3>
                                    <p class="text-muted">
                                        Par Éric Air.
                                    </p>
                                    <p class="card-text lead text-muted">7 jours pour apprendre comment la maîtriser.</p>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="d-flex">
                                                    <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                                                        <i class="fe fe-check"></i>
                                                    </div>
                                                    <p class="text-success">
                                                        Les leviers d’action
                                                    </p>
                                                </div><!-- .d-flex -->
                                                <div class="d-flex">
                                                    <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                                                        <i class="fe fe-check"></i>
                                                    </div>
                                                    <p class="text-success">
                                                        Votre corps expliqué
                                                    </p>
                                                </div><!-- .d-flex -->
                                            </div><!-- .col -->
                                            <div class="col-12 col-lg-6">
                                                <div class="d-flex">
                                                    <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                                                        <i class="fe fe-check"></i>
                                                    </div>
                                                    <p class="text-success">
                                                        Rédigé par un sexothérapeute
                                                    </p>
                                                </div><!-- .d-flex -->
                                                <div class="d-flex">
                                                    <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                                                        <i class="fe fe-check"></i>
                                                    </div>
                                                    <p class="text-success">
                                                        Chaque matin dans vos emails
                                                    </p>
                                                </div><!-- .d-flex -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div><!-- .card-text -->
                                    <p class="card-text text-muted ">
                                        <a href="#" class="btn btn-primary">Débuter la formation</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <img src="{{ asset('images/formation/presentation-formation-7-jours.jpg') }}" class="img-fluid rounded-start" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>

                </div><!-- .col -->
            </div><!-- .row -->
        </div> <!-- .container -->
    </section>

    <section id="livres-resumes">
        <div class="container mt-10 pt-10">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1>
                        Résumé de livre.
                    </h1>
                    <p class="lead text-gray-700 mb-7 mb-md-9">
                        Gagnez de nombreuses heures de lecture avec nos résumés.
                    </p>
                    <span class="badge rounded-pill bg-primary-soft mb-3">
                        <span class="h6 text-uppercase">Le condensé</span>
                    </span>
                </div><!-- .col -->
            </div><!-- .row -->
        </div> <!-- .container -->
        <div class="container">
            <div class="row align-items-center py-9 mt-2 mb-9">
                <div class="col-12 col-md-3">
                    <a class="mb-8 mb-md-0" href="#">
                        <img src="{{ asset('images/livres/Osez-les-conseils-resume.jpeg') }}" alt="Osez… les conseils d’un sexologue pour maîtriser votre éjaculation" class="screenshot img-fluid mw-md-110 float-end me-md-6 mb-6 mb-md-0">
                    </a>
                </div><!-- .col -->

                <div class="col-12 col-md-7">
                    <h3 class="display-4">Osez… les conseils d’un sexologue pour maîtriser votre éjaculation</h3>
                    <p class="mb-5 mb-md-7 text-muted">
                        Par le Dr Marc Bonnard.
                    </p>
                    <p class="lead">
                        Découvrez les mystères de l'éjaculation, et les manières de résoudre l’éjaculation précoce.
                    </p>
                    <p class="text-muted">
                        <a href="#" class="btn btn-primary">Lire le résumé</a>
                        ou
                        <a href="#" class="text-reset text-decoration-underline">récupérer la version pdf</a>.
                    </p>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>

{% endblock %}