{% extends 'base.html.twig' %}

{% block title %}Nos ressources offertes — Un Homme sur Cinq{% endblock %}


{% block body %}
    <section id="formation-7-jours" class="pt-9">
        <div class="container">
            <div class="row justify-content-center">
                <h3>Nos ressources</h3>
            </div><!-- .row -->
        </div> <!-- .container -->
    </section>


{% endblock %}