{% extends 'base.html.twig' %}

{% block body %}

    <section class="pt-4 pt-md-11">
        <div class="container">
            <div class="row align-items-center">

                <h3>Accueil</h3>

            </div><!-- .row -->
        </div><!-- .container -->
    </section>
{% endblock %}